:root {
  --thingscode-blue: rgb(93, 137, 194);
  --thingscode-blue-alpha: rgba(93, 137, 194, 0.25);
  --thingscode-blue-hover: rgb(73, 117, 174);
}

@import 'tailwindcss';

body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}

.radix-themes[data-accent-color="iris"],
[data-accent-color="iris"] {
  --iris-8: var(--thingscode-blue) !important;
  --iris-a8: var(--thingscode-blue-alpha) !important;
  --iris-9: var(--thingscode-blue) !important;
  --iris-a9: var(--thingscode-blue-alpha) !important;
  --iris-10: var(--thingscode-blue-hover) !important;
  --iris-a2: var(--thingscode-blue-alpha) !important;
  --iris-a7: var(--thingscode-blue) !important;
  --iris-11: var(--thingscode-blue-hover) !important;
  --iris-a11: var(--thingscode-blue-hover) !important;
}
